.cat {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 60vh;
  animation: run 10s;
  animation-iteration-count: 2;
}
@keyframes run {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 100%;
    top: 0;
    transform: translate(-100%, 0);
  }
  30% {
    transform: translate(-100%, 0) rotate(90deg);
  }
  50% {
    left: 100%;
    top: 100%;
    transform: translate(-100%, -100%) rotate(90deg);
  }
  55% {
    transform: translate(-100%, -100%) rotate(180deg);
  }
  75% {
    left: 0;
    top: 100%;
    transform: translate(0%, -100%) rotate(180deg);
  }
  80% {
    transform: translate(0, 0) rotate(270deg);
  }
  100% {
    left: 0;
    top: 0;
    transform: translate(0, 0) rotate(270deg);
  }
}

.message {
  font-size: 14px;
  margin: 24px 0 0 0;
  text-align: center;
}

.submit-button:active {
  background: #21b1fd;
}

.submit-button:hover,
.submit-button:focus {
  background: #21a2fd;
  transform: scale(1.05);
}

.submit-button {
  text-transform: uppercase;
  background: #2190fd;
  color: white;
  width: 100%;
  border: 0;
  padding: 16px;
  font-size: 14px;
  cursor: pointer;
  margin: 16px 0 0 0;
  transition: all 0.4s ease-in-out;
}

.form-input:focus {
  background: #ddeeff;
}

.form-input {
  background: #f2f2f2;
  width: 100%;
  border: 1px solid#222;
  outline: none;
  margin: 8px 0 16px 0;
  padding: 16px;
  transition: background 0.2s ease-out;
}

.login-form {
  background: white;
  max-width: 400px;
  margin: 25vh auto;
  padding: 40px;
}

a {
  color: #2190fd;
  text-decoration: none;
}

body {
  background: #20b2aa;
  margin: 0;
  border: 1px transparent solid;
  overflow: hidden;
  position: relative;
  height: 100vh;
}

body,
button,
input {
  font-family: "Roboto", sans-serif;
  color: #222;
}

* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
